body {
    margin: 0;
    background-color: #33691e;
}
body .header {
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: "Cairo";
    font-size: 30px;
}
body .welcome {
    text-align:center;
    font-family: "Cairo";
    font-size: 20px;
    line-height: 2em;
    color: white;
}

body .welcome .headphones {
    align: center;
    alt:"Headphones";
    padding: 2px;
    height: 350px;
    border: 1px solid white;
    border-radius: 1px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
body .filler {
    line-height: 7em;
    text-align:center;
    font-family: "Cairo";
    font-size: 20px;
    color: white;

}
body .artists4w {
    color: white;
    background-color: black;
    font-family:"Cairo";
    font-size: 20px;
    padding: 40px;
}
body .artists4w .billie {
    alt:"Billie";
    height:300px;
    width:300px;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 1px;
}

body .artists4w .artist1-10 {
    float: left;
    width: 50%;
}

body .artists4w .artist1-10 {
    float: left;
    width: 50%;
    margin-top: 3px;
}
body .artists6m {
    color: white;
    background-color: black;
    font-family:"Cairo";
    font-size: 20px;
    padding: 40px;
}

body .artists6m .artists1-25 {
    float: left;
    width: 50%;
}

body .artists6m .artist26-50 {
    float: left;
    width: 50%;
    margin-top: 3px;
}
body .artists6m .lorde {
    alt:"Lorde";
    height:350px;
    width:250px;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 1px;
}
body .fillertitle {
    line-height: 7em;
    text-align:center;
    font-family: "Cairo";
    font-size: 20px;
    color: white;
    background-color: black
}

body .artistsoverall {
    color: white;
    background-color: black;
    font-family:"Cairo";
    font-size: 20px;
    padding: 40px;
}

body .artistsoverall .overallartists1-25 {
    float: left;
    width: 50%;
}

body .artistsoverall .overallartist26-50 {
    float: left;
    width: 50%;
    margin-top: 3px;
}
body .artistsoverall .khalid {
    alt:"Khalid";
    height:350px;
    width:280px;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 1px;
}
body .signature {
    line-height: 7em;
    text-align:center;
    font-family: "Cairo";
    font-size: 20px;
    color: white;
    background-color: black
}